h4 {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logo-name-emission {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--border);
  margin-top: 1.5rem;
}

.logo-name {
  display: flex;
  align-items: center;
}

.logo {
  width: 2vw;
  height: 2vw;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  border-radius: var(--border-radius);
}
