<div class="container">

  <div>
    <h2>Emissions overview</h2>
    <app-column-chart [xAxisLabels]="xAxisLabels" [yAxisLabels]="yAxisLabels"></app-column-chart>
  </div>

  <div style="margin-left:10rem; width: 15vw;">
    <h3>High emission purhcases</h3>
    <span>Last 12 months</span>
    <div class="logo-name-emission" *ngFor="let row of pastTwelveMonths">
      <div class="logo-name">
        <img class="logo" src="{{row[1].logoPath}}" alt="">
        <h4>{{row[0]}}</h4>
      </div>
      <h4>{{row[1].totalEmissions}} CO<sub>2</sub>e</h4>
    </div>
  </div>

</div>
