h1,h2,h3,h4,h5 {
  margin: 0;
}

.container {
  width: 30vw;
  height: 35vw;
  margin-left: 17vw;
  z-index: 2;
  position: absolute;
  background: linear-gradient(to right, #25c481, #25b7c4);
  border: var(--border);
  padding: 1rem 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-price-company {
  display: flex;
  justify-content: space-between;
  width: 30vw;
}

.title-price-company h3:hover {
  cursor: pointer;
}

.categories {
  margin-top: 2rem;
  max-width: 25vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.category:hover {
  cursor: pointer;
}

.icon {
  width: 4vw;
  height: 4vw;
  margin-bottom: 0.5rem;
}
