<div class="container">

  <div class="title-price-company">
    <div></div>
    <div style="display:flex; flex-direction: column; align-items: center;">
      <h2>Change category</h2>
      <span>{{invoice?.company?.name}} &#8226; {{invoice?.products | sumProducts}} kr</span>
    </div>
    <h3 (click)="close()">X</h3>
  </div>

  <div class="categories">
    <div class="category" *ngFor="let category of categories" (click)="select(category)">
      <img class="icon" alt="" src="{{category.iconPath}}">
      <span>{{category.getTitle() | replaceAndWithSymbol}}</span>
    </div>
  </div>

</div>
