<div class="container">

    <div class="user-settings">
        <h2>{{username}}</h2>
        <div class="settings">
            <div class="download-app" (click)="downloadKlarnaApp()">
                <h3>Download Klarna app</h3>
            </div>
            <img class="icon" id="settings" src="../../../../assets/Icons/my-adpec/settings.png" alt="" (click)="goTo('Settings', $event)">
            <img class="icon" id="profile" src="../../../../assets/Icons/my-adpec/profile.png" (click)="openUser()">
        </div>
    </div>

    <div class="mains">
        <div class="main" *ngFor="let row of main" (click)="goTo(row['title'], $event)">
            <img class="icon" src="{{row['iconPath']}}" alt="">
            <h3>{{row['title']}}</h3>
        </div>
    </div>

    <div class="miscs">
        <div class="misc" *ngFor="let row of misc" (click)="goTo(row['title'], $event)">
            <img class="icon" src="{{row['iconPath']}}" alt="">
            <h3>{{row['title']}}</h3>
        </div>
    </div>

    <div [ngClass]="openModal ? 'user open' : 'user closed'">
      <div class="close-modal"><div (click)="openUser()">X</div></div>
      <img class="user-icon" src="../../../../assets//Icons/my-adpec/profile.png" alt="">
      <input #usernameValue placeholder="Set your username"/>
      <button (click)="changeUsername(usernameValue.value)">Change</button>
    </div>

</div>
