$width1900: 60vw;

@media only screen and (min-width: 1200px) {
    .settings {
        width: 23vw;
    }

    .miscs {
        height: 35vw;
    }

    .user {
      margin-top: 3rem;
      padding: 1rem;
    }
}

@media only screen and (min-width: 1900px) {
    .settings {
        width: 16vw;
    }

    .miscs {
        height: 25vw;
    }

    .user {
      margin-top: 2rem;
      padding: 0;
    }
}

@media only screen and (min-width: 2500px) {
  .settings {
    width: 14vw;
  }

  .miscs {
      height: 20vw;
  }

  .user {
    margin-top: 4rem;
  }
}

h1,h2,h3,h4,h5 {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.user-settings {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: $width1900;
    margin: 0 0.5rem 1rem 0;
}

.download-app {
    background-color: pink;
    border-radius: var(--border-radius);
    padding: 0.5rem;
}

.settings {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mains {
    display: flex;
    flex-direction: column;
    width: $width1900;
}

.main {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin: 0 0.5rem 0.5rem 0;
    border: var(--border);
    border-radius: var(--border-radius);
}

.icon {
    width: 2vw;
    height: 2vw;
}

.main h3 {
    margin-left: 1rem;
}

.miscs {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: $width1900;
}

.misc {
    padding: 1rem;
    border: var(--border);
    margin: 0 0.5rem 0.5rem 0;
    border-radius: var(--border-radius);
}

.download-app, .main, #settings, #profile, .misc:hover {
    cursor: pointer;
}

.user {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  border-radius: var(--border-radius);
  background-color: #ffc0cb;
}

.open {
  visibility: visible;
}

.closed {
  visibility: collapse;
}

.close-modal {
  display: flex;
  width: 15vw;
  padding: 0.5rem 1rem;
  justify-content: flex-end;
}

.close-modal > div:hover {
  cursor: pointer;
  color: #000000;
}

.user-icon {
  width: 5vw;
  height: 5vw;
  margin-bottom: 1rem;
}

.user input {
  margin-bottom: 1rem;
  border: none;
  border-bottom: 1px solid #ffffff;
  background-color: #ffc0cb;
  color: #ffffff;
  font-size: 1rem;
  text-align: center;
}

.user input:focus {
  outline: none;
}

.user button {
  border-radius: var(--border-radius);
  margin-bottom: 1rem;
}

.user button:hover {
  cursor: pointer;
}
