<div class="slider-container">
  <div [ngClass]="showLeftBtn ? 'left' : 'left hidden'" (click)="slideLeft()"><</div>
  <div class="categories-container">
    <div class="categories">
      <div *ngFor="let current of currentDisplayed; let i = index" 
      class="category" 
      [ngStyle]="slidedRight ? {'transform': 'translateX('+ current.translateValue +'rem)'} : {'transform': 'translateX('+ current.translateValue +'rem)'}"
      (click)="openCategory($event)"
      >
        <div class="card">
          <img class="card-img" src="{{ current.category.iconPath }}" alt="" />
          <h5>{{ current.category.marquee }}</h5>
        </div>
        <h4 class="title">{{ current.category.title }}</h4>
      </div>
    </div>
  </div>
  <div [ngClass]="showRightBtn ? 'right' : 'right hidden'" (click)="slideRight()">></div>
</div>
