  h1,h2,h3,h4,h5 {
    margin: 0;
  }

  .slider-container {
    width: 42vw;
    height: 16vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .categories-container {
    width: 36vw;
    display: flex;
    overflow: hidden;
  }

  .categories {
    display: flex;
    justify-content: space-between;
    width: 42vw;
  }

  .category {
    display: flex;
    flex-direction: column;
    transition: 500ms ease-in;
  }

  .category:hover {
    cursor: pointer;
  }

  .left, .right {
    z-index: 2;
    border-radius: 98%;
    background-color: #ffffff;
    color: #000000;
    width: 3%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .hidden {
    visibility: hidden;
  }

  .card {
    height: 14vw;
    width: 11vw;
    border: var(--border);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 .5rem;
  }

  .card-img {
    height: 12vw;
    width: 10vw;
  }

  .title {
    margin-top: 1rem;
    margin-left: 0.5rem;
  }
