<div class="container">
  <!-- <input placeholder="Search" (keyup)="onInputKey($event)" type="search" /> -->
  <form>
    <input type="text" placeholder="Search" (keyup)="onInputKey($event)"/>
    <button type="reset" (click)="clearInput()">&times;</button>
  </form>
  <div class="content" *ngIf="inputValue.length > 0">
    <div class="spinner-container" *ngIf="searching">
      <app-spinner></app-spinner>
    </div>

    <div class="icon-text" *ngIf="!searching && invoices.length === 0">
      <img class="icon" src="../../../assets/Icons/search.png" />
      <span>Search for your items by <b>merchant</b> or <b>item</b>.</span>
    </div>

    <div class="invoices" *ngIf="invoices.length">
      <div
        class="invoice"
        *ngFor="let invoice of invoices"
        (click)="goToOrder(invoice.id)"
      >
        <div class="logo-title">
          <img class="logo" src="{{ invoice.company.logoPath }}" />
          <div class="title-purchase-date">
            <h4>{{ invoice.company.name }}</h4>
            <span class="date">{{ invoice.purchaseDate.toLocaleString("default", {month: "long"}) }} {{ invoice.purchaseDate.getDate() }}</span>
          </div>
        </div>
        <div class="price">
          <h4>{{ invoice.products | sumProducts }} kr</h4>
        </div>
      </div>
    </div>
  </div>
</div>
