h4 {
  margin: 0;
}

.container {
  position:relative;
  z-index: 2;
}

form input:placeholder-shown+button {
  opacity: 0;
  pointer-events: none;
}

form button {
  position: absolute;
  border: none;
  display: block;
  width: 15px;
  height: 15px;
  line-height: 16px;
  font-size: 12px;
  border-radius: 50%;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;
  background: #ddd;
  padding: 0;
  outline: none;
  cursor: pointer;
  transition: .1s;
}

input {
  border:none;
  border-radius: var(--border-radius);
  height: 2rem;
  width: 100%;
}

input:focus {
  outline: none;
}

.spinner-container {
  margin-top: 3rem;
}

.content {
  position: absolute;
  height: 15rem;
  max-height: 20rem;
  width: 100%;
  margin-top: 0.5rem;
  background: -webkit-linear-gradient(left, #00a896, #03045e);
  background: linear-gradient(to right, #00a896, #03045e);
  overflow-x: scroll;
  display: flex;
  justify-content: center;
}

.icon-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0 0 0;
  width: 80%;
}

.icon-text span {
  word-wrap: break-word;
  text-align: center;
}

.icon {
  width: 3rem;
  height: 3rem;
  margin-bottom: 0.5rem;
}

.logo {
  width: 2rem;
  height: 2rem;
}

.invoices {
  width: 95%;
}

.invoice {
  display: flex;
  border: var(--border);
  justify-content: space-between;
  padding: 0.5rem;
  border-radius: var(--border-radius);
  margin: 0.5rem 0;
}

.logo-title {
  display: flex;
}

.title-purchase-date {
  padding-left: 0.5rem;
}

.invoice:hover {
  cursor: pointer;
  opacity: 0.7;
}
