<div class="container">

  <div class="title">
    <h1>Payments</h1>
  </div>

  <div class="tabs">
    <div [ngClass]="tab === 0 ? 'overview active' : 'overview inactive'" (click)="toggleTab(0)"><h3>Overview</h3></div>
    <div [ngClass]="tab === 1 ? 'owed active' : 'owed inactive'" (click)="toggleTab(1)"><h3>Total you owe (add from ts)</h3></div>
  </div>

  <div class="paid-invoices">
    <div class="paid" *ngFor="let invoice of invoices">
      <div class="left">
        <img class="logo" src="{{invoice.company.logoPath}}" alt="">
        <div class="company-sub">
          <h3>{{invoice.company.name}}</h3>
          <span>{{ invoice.status === 0 ? 'Paid' : (invoice.dueDate | paymentDueInDays: invoice.purchaseDate) }}</span>
        </div>
      </div>
      <div class="right">
        <h4>{{ invoice.products | sumProducts }} kr</h4>
      </div>
    </div>
  </div>

</div>
