h1,h2,h3,h4,h5 {
  margin: 0;
}

@media only screen and (min-width: 1200px) {
  .logo {
    width: 4vw;
    height: 4vw;
  }

  .overview {
    margin-right: 2rem;
  }
}

@media only screen and (min-width: 1900px) {
  .logo {
    width: 2.5vw;
    height: 2.5vw;
  }

  .overview {
    margin-right: 5rem;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  width: 45vw;
}

.title h1 {
  margin-top: 5rem;
}

.tabs {
  display: flex;
  margin: 2rem 0;
  width: 45vw;
  border-bottom: 1px solid #ffffff;
}

.active, .inactive {
  padding-bottom: 0.5rem;
}

.active {
  border-bottom: 2px solid #ffffff;
  color: #ffffff;
}

.active:hover {
  cursor: pointer;
}

.inactive {
  border: none;
  color: #05668d;
}

.inactive:hover {
  cursor: pointer;
  border-bottom: 2px solid #ffffff;
}

.paid-invoices {
  width: 45vw;
}


.paid {
  display: flex;
  justify-content: space-between;
  border: var(--border);
  border-radius: var(--border-radius);
  margin-bottom: 1rem;
}

.left {
  display: flex;
  align-items: center;
  width: 15vw;
  padding: 1rem;
}

.logo {
  margin-right: 1rem;
}

.right {
  display: flex;
  align-items: center;
  padding-right: 1rem;
}
