
@media only screen and (min-width: 1200px) {
  .order-tabs {
    width: 30vw;
  }

  .left {
    width: 8%;
  }

  .right {
    width: 92%;
  }
}


@media only screen and (min-width: 1800px) {
  .order-tabs {
    width: 20vw;
  }

  .left {
    width: 5%;
  }

  .right {
    width: 95%;
  }
}


.container {
  display: flex;
  justify-content: center;
}

.body {
  width: 63vw;
  height: 4vw;
}

.orders-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.search {
  width: 17vw;
}

.order-tabs {
  display: flex;
  justify-content: space-between;
}

.tab {
  display: flex;
  align-items: center;
  border: var(--transparent-border);
  border-radius: var(--border-radius);
  padding: 0 1rem;
  height: 2rem;
}

.tab h4 {
  margin: 0;
}

.tab:hover {
  border: var(--border);
  cursor: pointer;
}

.active {
  background-color: #1c2541;
}

.order {
  padding: 1rem 1rem;
  margin: 1rem 0 0 0;
  border: var(--border);
  border-radius: var(--border-radius);
  display: flex;
}

.order:hover {
  cursor: pointer;
  opacity: 0.7;
}

.title-price {
  display: flex;
  justify-content: space-between;
}

.company-logo {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;
  border-radius: var(--border-radius);
}

.title-and-status h4 {
  margin: 0;
}

.products {
  display: flex;
  padding: 0 1rem 0 0;
}

.product-img {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;
}

.options {
  display: flex;
}

.option {
  margin: 1rem 1rem 0 0;
  background-color: #00a896;
  border-radius: var(--border-radius);
  padding: 0 1rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
}

.option h4 {
  margin: 0;
}

.option:hover {
  cursor: pointer;
  background-color: #1c2541;
}

.date-order-reference {
  margin: 1rem 0 0 0;
  display: flex;
}

.date {
  margin-right: 0.5rem;
}

.reference {
  margin-left: 0.5rem;
}