<div class="container">
  <div class="body">
    <h1>Purchases</h1>
    <div class="orders-container">
      <h3>Orders</h3>
      <div class="search">
        <app-search-bar [orders]="invoices.items"></app-search-bar>
      </div>
    </div>
    <div class="orders-content">
      <div class="order-tabs">
        <div
          [ngClass]="invoices.isActive ? 'tab active' : 'tab'" (click)="toggleTab(0)">
          <h4>All</h4>
        </div>
        <div
          [ngClass]="onItsWay.isActive ? 'tab active' : 'tab'" (click)="toggleTab(1)">
          <h4>On its way</h4>
        </div>
        <div
          [ngClass]="delivered.isActive ? 'tab active' : 'tab'" (click)="toggleTab(2)">
          <h4>Delivered</h4>
        </div>
      </div>
      <div class="orders">
        <div class="order" *ngFor="let invoice of currentInvoices" (click)="goToOrder(invoice.id)">
          <div class="left">
            <img class="company-logo" src="{{ invoice.company.logoPath }}" />
          </div>
          <div class="right">
            <div class="title-price">
              <div class="title">
                <div class="title-and-status">
                  <h4>{{ invoice.company.name }}</h4>
                  <span>{{ invoice.status === 0 ? 'Paid' : (invoice.dueDate | paymentDueInDays: invoice.purchaseDate) }}</span>
                </div>
              </div>
              <div class="price">
                <h4>{{ invoice.products | sumProducts }} kr</h4>
              </div>
            </div>
            <div class="products">
              <img class="product-img" *ngFor="let pic of invoice.products" src="{{ pic.picturePath }}">
            </div>
            <div class="options">
                <div class="option" *ngIf="invoice.status === 1" (click)="toastAbout($event)">
                  <h4>Pay</h4>
                </div>
                <div class="option" (click)="toastAbout($event)">
                  <h4>Report return</h4>
                </div>
            </div>
            <div class="date-order-reference">
                <span class="date">{{ invoice.purchaseDate.toLocaleString('default', { month: 'long' }) }} {{ invoice.purchaseDate.getDate() }}</span>
                &#x2022;
                <span class="reference">Order#: {{ invoice.storeOrderReference }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
