<div class="container">

  <div class="left">

    <div class="monthly-budget">
      <h2>Monthly budget</h2>
      <div class="set-budget">
        <span>Set a budget to keep track of spending and reach your goals.</span>
        <div class="set-budget-btn" (click)="displayDevToast($event)">Set</div>
      </div>
      <div class="budget-visualizer"></div>
    </div>

    <div class="monthly-spending">
      <div>
        <app-column-chart [xAxisLabels]="xAxisLabels" [yAxisLabels]="yAxisLabels" [isEmissionsChart]="false"></app-column-chart>
      </div>
    </div>

    <div class="explore">
      <div class="card" (click)="displayDevToast($event)">
          <span style="color: #000000;">Connect Accounts</span>
          <h4 style="color: #000000;">See all your banks in one place.</h4>
          <div class="card-btn">Connect</div>
      </div>
      <div class="card" (click)="displayDevToast($event)">
        <span style="color: #000000;">klarna Card</span>
        <h4 style="color: #000000;">Full Flexibility.</h4>
        <div class="card-btn">Get the card</div>
      </div>
    </div>

  </div>

  <div class="right"></div>

</div>
