h1, h2, h3, h4, h5 {
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

.left {
  width: 30vw;
}

.set-budget {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.set-budget-btn {
  border-radius: var(--border-radius);
  background-color: #1c2541;
  padding: 0.5rem 1rem;
}

.set-budget-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.budget-visualizer {
  width: 30vw;
  height: 2vw;
  background: rgb(106,218,44);
  background: linear-gradient(90deg, rgba(106,218,44,1) 16%, rgba(223,236,53,1) 65%, rgba(196,37,53,1) 98%);
}

.monthly-spending {
  margin-top: 2rem;
}

.explore {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.card {
  background-image: url(../../../../assets/Cards/wave.jpg);
  background-size: cover;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 8vw;
  width: 13vw;
  border-radius: var(--border-radius);
}

.card:hover {
  cursor: pointer;
}

.card-btn {
  border-radius: var(--border-radius);
  background: #ffffff;
  opacity: 0.5;
  color: #000000;
  padding: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
