@media only screen and (min-width: 1200px) {
  .toast {
    width: 18vw;
    height: 5vw;
    padding: 0.8rem;
  }
}

@media only screen and (min-width: 1900px) {
  .toast {
    width: 15vw;
    height: 3vw;
    padding: 0.3rem;
  }
}

.toast {
  display: flex;
  z-index: 3;
  border-radius: var(--border-radius);
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  text-align: center;
  transition: transform 0.3s ease-out;
}

.success {
  background-color: green;
}

.info {
  background-color: blue;
}

.slide-in {
  transform: translateX(0); /* Slide the toast into view */
}

.collapse {
  transform: translateX(100%); /* Slide the toast out of view */
  visibility: collapse;
}
