<div class="container">

  <div class="logo-website">
    <img class="logo" alt="" src="{{company?.logoPath}}">
    <a href="{{company?.website}}" target="_blank">{{company?.website | prettyfyHyperlink}}</a>
  </div>

  <div class="info">
    <img class="icon" alt="" src="../../../assets/Icons/delivered.png">
    <h3>Delivered</h3>
    <span>{{deliveredDate}}</span>
  </div>

  <div class="states">
    <div class="state" *ngFor="let state of states; let i = index">
      <div class="squre-line">
        <div class="square"></div>
        <div [ngClass]="i === states.length - 1 ? '' : 'line'"></div>
      </div>
      <div class="arrival-location-time">
        <h4>{{state.information}}</h4>
        <span>{{state.location}}. - {{state.receivedAt.getShortMonthName()}} {{state.receivedAt.getDate()}} {{state.receivedAt.getAmPmTime()}}</span>
      </div>
    </div>
    <div class="warning">
      <img class="icon" alt="" src="../../../assets/Icons/exclamation.png">
      <span>Delivery events provided by the carrier ({{delivery?.getCarrierName()}}).</span>
    </div>
  </div>

  <div class="package-details">
    <h3>Package details</h3>
    <div class="section">
      <div>
        <h4>Tracking number</h4>
        <span>{{delivery?.trackingNumber}}</span>
      </div>
    </div>
    <div class="section">
      <div class="left">
        <h4>Size</h4>
        <span>{{delivery?.dimensions?.size}}</span>
      </div>
      <div class="right">
        <h4>Weight</h4>
        <span>{{delivery?.dimensions?.getWeightWithUnit()}}</span>
      </div>
    </div>
    <div class="section">
      <div>
        <h4>Carrier</h4>
        <span>{{delivery?.getCarrierName()}}</span>
      </div>
    </div>
  </div>

</div>
