$white: #ffffff;

h1, h2, h3, h4, h5 {
  margin: 0;
}

a {
  text-decoration: none;
  color: $white;
  font-size: 1.2vw;
}

.container {
  padding: 3rem 0 0 25vw;
}

.logo-website {
  display: flex;
  align-items: center;
}

.logo {
  width: 4vw;
  height: 3vw;
  margin-right: 1rem;
  border-radius: var(--border-radius);
}

.info {
  margin-top: 3vw;
}

.icon {
  width: 6vw;
  height: 5vw;
  margin-bottom: 1rem;
}

.states {
  margin-top: 2rem;
}

.state {
  display: flex;
}

.squre-line {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 0.5rem
}

.square {
  width: 1vw;
  height: 1vw;
  background-color: $white;
  border-radius: 20%;
}

.line {
  height: 3vw;
  width: 0.1vw;
  background-color: $white;
}

.arrival-location-time h4 {
  max-width: 55vw;
  margin-bottom: 0.3rem;
}

.warning {
  display: flex;
  margin-top: 1.5rem;
  align-items: center;
}

.warning .icon {
  width: 2vw;
  height: 2vw;
  margin: 0;
  margin-right: 0.5rem;
}

.package-details {
  margin-top: 3rem;
  width: 55vw;
}

.package-details h4 {
  margin-bottom: 0.2rem;
}

.section {
  border-bottom: var(--border);
  padding: 1rem 0;
  display: flex;
}

.section .left {
  margin-right: 15vw;
}
