$white: #ffffff;

.container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

a {
  text-decoration: none;
  color: $white;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

.left {
  width: 35vw;
}

.logo-price-website {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
}

.logo {
  width: 4vw;
  height: 3vw;
  margin-right: 0.5rem;
  border-radius: var(--border-radius);
}

.price-website {
  margin-left: 0.5rem;
}

.price {
  margin-bottom: 0.5rem;
}

.status-delivery-category {
  margin: 2rem 0.5rem 0 0.5rem;
}

.status,
.delivery,
.category {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.actionable-span {
  color: #f8e16c;
  border-bottom: var(--transparent-border);
}

.actionable-span:hover {
  cursor: pointer;
  border-bottom: 0.1rem solid #f8e16c;
}

.category-icon {
  display: flex;
  align-items: center;
}

.category-icon .icon {
  width: 2vw;
  height: 2vw;
  margin-right: 0.5rem;
}

.summary {
  display: block;
  margin: 3rem 0 0 0.5rem;
}

.product {
  display: flex;
  margin: 1rem 0 0.5rem 0;
  border-bottom: 0.1rem solid opacify($color: $white, $amount: 0.1);
}

.title-price {
  margin-left: 0.5rem;
}

.product .picture {
  width: 3vw;
  height: 3vw;
}

.purchase-emission {
  display: block;
  margin: 3rem 0 0 0.5rem;
}

.estimate {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}

.estimate:hover {
  cursor: pointer;
}

.estimate .icon {
  width: 4vw;
  height: 3vw;
}

.title-amount {
  display: block;
  margin-left: 0.5rem;
}

.learn-more {
  margin-top: 0.5rem;
  border-radius: var(--border-radius);
  border-color: #00a896;
  background-color: #00a896;
}

.learn-more:hover {
  cursor: pointer;
  opacity: 0.5;
}

.additional-info {
  margin: 3rem 0 0 0.5rem;
}

.info {
  margin: 1rem 0 0 0;
  padding-bottom: 1rem;
  border-bottom: 0.1rem solid opacify($color: $white, $amount: 0.5);
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 3rem;
}

.product-picture {
  margin: 5rem 0 0 1rem;
  width: 25vw;
  height: 21vw;
}

.circles {
  display: flex;
}

.circle {
  width: 1vw;
  height: 1vw;
  background-color: $white;
  border-radius: 20%;
  margin: 0.5rem;
}

.circle:hover {
  cursor: pointer;
}

.active {
  background-color: #00a896;
  border: var(--border);
}
