<div class="container">
  <app-change-category *ngIf="showChangeCategoryModal" [invoice]="invoice" (closeModalEvent)="changeCategory()"></app-change-category>
  <div class="left">

    <div class="logo-price-website">
      <img class="logo" src="{{invoice?.company?.logoPath}}" alt="">
      <div class="price-website">
        <h3 class="price">{{invoice !== undefined ? (invoice.products | sumProducts) : ''}} kr</h3>
        <a href="{{invoice?.company?.website}}" target="_blank">{{invoice?.company?.website | prettyfyHyperlink}}</a>
      </div>
    </div>

    <div class="status-delivery-category">
      <div class="status">
        <h4>Status</h4>
        <span>{{ invoice?.status === 0 ? 'Paid' : (invoice?.dueDate | paymentDueInDays: invoice?.purchaseDate) }}</span>
      </div>
      <div class="delivery">
        <h4>Delivery</h4>

        <ng-container *ngIf="invoice?.status === 1; else second"><span>On its way</span></ng-container>
        <ng-template #second>
          <ng-container *ngIf="invoice?.status === 0 && !invoice?.delivery; else third"><span>Delivered</span></ng-container>
        </ng-template>
        <ng-template #third><span class="actionable-span" *ngIf="invoice?.status === 0 && invoice?.delivery" (click)="goToDelivered()">Delivered ></span></ng-template>

      </div>
      <div class="category">
        <h4>Category</h4>
        <div class="category-icon" (click)="changeCategory()">
          <img class="icon" alt="" src="{{invoice?.category?.iconPath}}">
          <span class="actionable-span">{{invoice?.category?.getTitle()}} ></span>
        </div>
      </div>
    </div>

    <div class="summary">
      <h2>Summary</h2>
      <div class="product" *ngFor="let product of invoice?.products">
        <img class="picture" alt="" src="{{ product.picturePath }}">
        <div class="title-price">
          <h4>{{product.title}}</h4>
          <h4>{{product.sum}} kr</h4>
        </div>
      </div>
    </div>

    <div class="purchase-emission" *ngIf="invoice?.tracksPurchaseEmission" (click)="goToEmissions()">
      <h2>Track your CO<sub>2</sub>e</h2>
      <div class="estimate">
        <img class="icon" alt="" src="../../../assets/Icons/emission-leaf.png">
        <div class="title-amount">
            <span>Estimated purchase emissions</span>
            <br/>
            <b>{{invoice?.emission}} CO<sub>2</sub>e</b>
        </div>
      </div>
      <button class="learn-more">Learn more</button>
    </div>

    <div class="additional-info">
      <h2>Additional info</h2>
      <div class="info" *ngFor="let info of additionalInfo">
        <h4>{{info.title}}</h4>
        <span>{{info.value}}</span>
      </div>
    </div>

  </div>
  <div class="right">
      <img class="product-picture" src="{{productPicturePaths[currentPictureIndex]}}">

      <div class="circles">
        <div *ngFor="let pic of productPicturePaths; let i = index" [ngClass]="currentPictureIndex === i ? 'circle active' : 'circle'" (click)="selectPicture(i)"></div>
      </div>

  </div>
</div>
