.container {
  display: flex;
  justify-content: center;
  border-bottom: var(--border);
}

.nav {
  width: 50%;
}

.nav ul {
  padding-left: 0rem;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

li {
  border-bottom: var(--transparent-border);
}

.nav ul > li:hover {
  cursor: pointer;
  border-bottom: var(--border);
}

.active {
  border-bottom: var(--border);
}
