<div class="container">
  <nav class="nav">
    <ul>
      <li *ngFor="let route of routes" routerLink="/{{route.path}}" routerLinkActive="active">{{route.path | capitalize | replaceAndWithSymbol}}</li>
    </ul>
  </nav>
</div>
