<div class="container">
  <div class="title-slider">
    <h1>Our favorites</h1>
    <app-inspiration-slider [items]="favorites"></app-inspiration-slider>
  </div>

  <div class="title-slider">
    <h1>Explore more</h1>
    <app-inspiration-slider [items]="explore"></app-inspiration-slider>
  </div>
</div>
