<div class="container">
    <div class="chart">

      <div style="margin-bottom: 2rem;">
        <span>{{highlightedMonth?.month}}</span>
        <h3 *ngIf="isEmissionsChart">{{highlightedMonth?.value}} kg CO<sub>2</sub>e</h3>
        <h3  *ngIf="!isEmissionsChart">{{highlightedMonth?.value}} kr</h3>
        <span style="color: #05668d;" *ngIf="isEmissionsChart">{{avgValue}} kg CO<sub>2</sub>e on average</span>
        <span style="color: #05668d;" *ngIf="!isEmissionsChart">{{avgValue}} kr on average</span>
      </div>

      <div class="columns-xAxis">
        <div class="columns">
          <div class="avg-value-line" [ngStyle]="{'height': avgValue / maxY * 100 + '%'}"></div>
          <div class="column" *ngFor="let i of data">
            <span>{{i.value}}</span>
            <div [ngClass]="highlightedMonth?.month === i.month ? 'body active' : 'body'" [ngStyle]="{'height': i.value / maxY * 100 + '%'}" (click)="highlightMonth(i.month)"></div>
          </div>
        </div>
      </div>

      <div class="xAxis">
        <div class="span-container" *ngFor="let i of data">
          <span>{{i.month}}</span>
        </div>
      </div>

    </div>
</div>
