h1,h2,h4,h5 {
  margin: 0;
}

h3 {
  margin: 0.5rem 0;
}

.container {
  display: flex;
  flex-direction: column;
}

.chart-emission-purchases {
  display: flex;
}

.columns-xAxis {
  display: flex;
  flex-direction: column;
  height: 10vw;
}

.columns {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  position: relative;
}

.avg-value-line {
  position: absolute;
  z-index: 2;
  border-top: 0.1rem dashed #05668d;
  width: 100%;
  align-self: flex-end;
  pointer-events: none;
}

.column {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.body {
  width: 3vw;
  background-color: #ffffff;
  margin: 0 1rem;
  border-radius: 0.4rem;
}

.active {
  background: rgb(231,226,226);
  background: #8f2d56;
}

.body:hover {
  cursor: pointer;
  background: rgb(231,226,226);
  background: #8f2d56;
}

.xAxis {
  display: flex;
  justify-content: space-evenly;
  border-top: var(--border);
  padding-top: 0.5rem;
}

.xAxis .span-container {
  width: 3vw;
  margin: 0 1rem;
  display: flex;
  justify-content: center;
}
