/* You can add global styles to this file, and also import other style files */

body {
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
}

:root {
  --border: 0.1rem solid #ffffff;
  --transparent-border: 0.1rem solid transparent;
  --border-radius: 1rem;
}
